$globalBorderlStyle: 1px solid #dcdcde;
$cardHeaderFontSize: 2rem;
$relatedPostHeaderFontSize: 1.5rem;
$relatedPostBackgroundColor: #fafafc;
$headingFontSize: 2rem;
$globalPadding: 1.5rem;

.xwp-country-card {
	border: $globalBorderlStyle;
	box-shadow: 0 1px 1px rgba(#000, 0.05);

	&__heading {
		padding: $globalPadding;
		margin: 0;
		font-size: $headingFontSize;
	}

	&__country-code {
		text-decoration-line: underline;
		text-decoration-style: dotted;
	}

	&__related-posts {
		background-color: $relatedPostBackgroundColor;
		border-top: $globalBorderlStyle;
		padding: $globalPadding;

		&__heading {
			margin: 0;
			font-size: $relatedPostHeaderFontSize;
		}
	}

	&__related-posts-list {
		padding-left: $globalPadding;
	}

	& &__media {
		align-items: center;
		border-bottom: $globalBorderlStyle;
		display: flex;
		height: calc(200px + 5vw);
		justify-content: center;
		overflow: hidden;
		position: relative;
		margin: 0;

		&::before {
			align-items: center;
			content: attr(data-emoji-flag);
			display: flex;
			filter: blur(3vh) saturate(3) contrast(1) opacity(0.4);
			font-size: calc(800px + 3vh);
			height: 100%;
			justify-content: center;
			left: 0;
			pointer-events: none;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}

.xwp-country-card-flag {
	font-size: calc(200px + 3vw);
	line-height: 1;
}

.related-post {

	.title,
	+ .related-post {
		margin-top: 1.5rem;
	}

	.title,
	.excerpt,
	.excerpt p {
		margin: 0;
	}

	.title {
		font-size: $relatedPostHeaderFontSize;
	}

	.excerpt p {
		display: -webkit-box;
  		-webkit-box-orient: vertical;
  		-webkit-line-clamp: 1;
		overflow: hidden;
	}
}
